@import "tailwindcss";

:root {
  --background: #101010;
  --foreground: #ededed;
  --highlight: #0f766e;
  --accent: #7bd3c9;
  --danger: #ff8848;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-danger: var(--danger);
  --font-sans: var(--font-sans);
  --font-electrolize: var(--font-electrolize);
  --font-zen-dots: var(--font-zen-dots);
  --color-accent: var(--accent);
  --color-highlight: var(--highlight);
}

/* @layer components {
  @media (min-width: 1536px) {
    .container {
      max-width: 1300px !important;
    }
  }
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #ededed;
    --accent: #b8e478;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.transition-class {
  @apply transition-all duration-200 ease-in-out;
}

@media (min-width: 1024px) {
  .card-neon-hover {
    position: relative;
    --mx: 0px;
    --my: 0px;
    transition: border-color 0.3s ease, border-radius 0.3s ease;
  }

  .card-neon-hover:hover {
    box-shadow: calc(var(--mx) * 0.3) calc(var(--my) * 0.3) 40px
        rgba(15, 118, 110, 0.2),
      0 0 70px rgba(15, 118, 110, 0.2);
  }

  .card-static-hover:hover {
    box-shadow: 0 0 40px rgba(15, 118, 110, 0.2),
      0 0 70px rgba(15, 118, 110, 0.2);
  }

  .button-neon-hover:hover {
    box-shadow: 0 0 10px 0 #0f766e inset, 0 0 20px 2px #0f766e;
  }
}

.logo-shadow:hover {
  text-shadow: 1px 1px 5px #0f766e, 0 0 1.42em #0f766e, 0 0 0.5em #0f766e;
}

.MuiChartsAxis-line,
.MuiChartsAxis-tick {
  @apply stroke-slate-400!;
}

.MuiChartsAxis-tickLabel {
  @apply fill-slate-400!;
}
